@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --maroon: #661424;
    --black: #231F20;
    --dark_gray: #808080;
    --light-gray: #B2B2B2;
    --light-white: #F1F1F1;
    --white: #FFFFFF;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--maroon);
    color: var(--light-white);
	font-family: "Khand", sans-serif;
	font-size: 1.5rem;
	line-height: 1.45;
    text-align: center;
    padding: 10px;
    overflow-x: hidden;
    text-shadow: 0 0 3px var(--black), 0 0 5px var(--black);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    color: var(--maroon);
    text-shadow: 0 0 3px var(--light-white), 0 0 5px var(--light-gray);
}

p {
    font-family: "Nunito Sans", sans-serif;
}


/* We Are */

.weAre {
    width: 100%;
    overflow: hidden;
}

.weAre img {
    height: 20vh;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 20px var(--black);
}


/* Body */

.grid {
    padding: 30px 50px;
    display: grid;
    gap: 1.5rem;
	grid-template-rows: repeat(1fr, 3);
}

.flex {
    display: flex;
    padding: 20px;
}

.text {
    flex-basis: 60%;
}

.image {
    flex-basis: 40%;
}

.image img {
    width: 90%;
    box-shadow: 5px 5px 20px var(--black);
    border-radius: 10px;
}

.faith, .future {
    background-color: var(--light-gray);
    overflow: hidden;
    padding-left: 23px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--light-gray);
}

.family {
    background-color: var(--dark_gray);
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--light-gray);
}

.faith .text, .future .text {
    background-image: linear-gradient(0deg , var(--maroon), var(--light-gray));
    width: 108%;
    height: 200%;
    transform: skew(-11deg, 7deg);
    margin-top: -7%;
    margin-left: -5%;
    border: 2px solid var(--maroon);
}

.faith .text p, .faith .text h2, .future .text p, .future .text h2, .card-btn {
    font-size: 0.9em;
    transform: skew(11deg, -7deg);
    padding: 2%;
    padding-left: 5%;
    overflow: hidden;
    width: 90%;
    margin: 10px 0;
}

.family .text {
    background-image: linear-gradient(0deg , var(--dark_gray), var(--maroon));
    width: 108%;
    height: 200%;
    transform: skew(11deg, -7deg);
    margin-top: -7%;
    border: 2px solid var(--maroon);
}


.family .text p, .family .text h2, .family .card-btn {
    font-size: 0.8em;
    transform: skew(-11deg, 7deg);
    padding: 2%;
    padding-left: 5%;
    overflow: hidden;
    width: 90%;
    margin: 10px 0;
    color: var(--light-white);
    text-shadow: 0 0 3px var(--black), 0 0 5px var(--black);
}

.faith .text h2, .family .text h2, .future .text h2 {
    margin-top: 13%;
    font-size: 3rem;
}

.faith .image, .future .image {
    margin-left: 5%;
}



/* Animations */

.box {
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
}

.box2 {
    transform: translateX(100%);
    transition: all 0.5s ease-in;
}

.box.show {
    transform: translateX(0);
}

.box2.show {
    transform: translateX(0);
}

/* Mission */

.mission {
    margin: 30px auto;
}

.mission h1 {
    margin-bottom: 20px;
}